<form action="/painel/admin/enviarDados" method="POST">
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="nome" placeholder="Nome" class="form-control">
        </div>
        <div class="col-md-3">
            <input type="number" name="preco" placeholder="Preço" class="form-control">
        </div>
        <div class="col-md-3">
        <button class="btn btn-primary">Enviar</button>
    </div>
    </div>
</form>